.recent-chat-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary);
  min-height: 12.5%;
  width: 92.5%;
  overflow: hidden;
  border-radius: 10px;
  padding: 1% 0;
  margin: 1% 0;
}

.recent-chat-container.active {
  background-color: var(--primary-active);
}

.recent-chat-details {
  width: 55%;
}

.chat-dp {
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
}

.recent-chat-sender {
  font-weight: 500;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--sub-acc-1);
  padding: 1.5% 0;
}

.recent-chat-text {
  font-size: 0.85rem;
  text-overflow: ellipsis;
  color: var(--sub-acc-2);
}

.recent-chat-time {
  font-size: 0.7rem;
  color: var(--time-text);
}
