.chat.heading {
  padding: 5% 0;
  width: 90%;
  color: var(--b-w);
}
.chat-list {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 1.5px solid var(--chat-border);
  border-right: 1.5px solid var(--chat-border);
  background-color: var(--primary);
  overflow: auto;
}

.chat-list-header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-chat-button {
  background-color: var(--accent);
  padding: 1.5% 4.5%;
  border-radius: 5px;
  font-size: 1.5rem;
  color: white;
  border: 0;
  cursor: pointer;
}

@media (max-width: 800px) {
  .chat-list {
    z-index: 100;
    width: 100%;
    position: absolute;
    /* background: white; */
  }
}
