body {
  overflow: hidden;
}

.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary);
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 5%;
}

.chat-body {
  width: 70%;
  height: 100%;
}
