body {
  overflow: hidden;
}
.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary);
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 5%;
}

.chat-body {
  width: 70%;
  height: 100%;
}

.chat.heading {
  padding: 5% 0;
  width: 90%;
  color: white;
}

.compose-message-container {
  width: 100%;
  height: 8.25%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 0 1%; */
}

#contact-info-button {
  margin-left: auto;
  color: #eee6ff;
  font-size: 1.5rem;
  cursor: pointer;
}

.compose-message {
  height: 70%;
  width: 90%;
  border: 2px solid #6f678b;
  background: transparent;
  border-radius: 10px;
  padding-left: 10px;
}

.compose-message::placeholder {
  color: #eee6ff;
}

#send-message-button {
  color: var(--accent);
  font-size: 1.5rem;
  cursor: pointer;
}
