.login-container {
  text-align: center;
  background: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--accent);
}

.login-illus {
  width: 100%;
}

.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  text-align: left;
}

.social-login-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5% 0;
}

#social-login-button {
  width: 47.5%;
  height: 17.5vh;
  background: var(--primary-active);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid var(--accent);
  border-radius: 10px;
  color: var(--accent);
  cursor: pointer;
}

#social-icon {
  font-size: 2rem;
}

.login.heading {
  color: var(--b-w);
  font-size: 3rem;
}

.login-input {
  width: 50%;
  margin: 2% 0;
  background: var(--primary-active);
  border: 0;
  height: 7.5vh;
  border-radius: 5px;
  padding-left: 10px;
  color: var(--accent);
}

.login-input:focus {
  outline: var(--sub-acc-1) solid 3px;
  transition: 0.2s ease-in;
}
.login-input::placeholder {
  color: var(--sub-acc-1);
}

.login.subtext {
  color: var(--sub-acc-2);
  font-size: 0.9rem;
  width: 54%;
  margin: 1% 0 4.25% 0;
}

.login-button {
  background: var(--accent);
  color: var(--user-text);
  width: 50%;
  height: 8vh;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  margin: 5% 0 2.5% 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.change-auth-text {
  color: var(--time-text);
  cursor: pointer;
  margin-left: 40%;
  font-weight: 500;
}

#change-auth-button {
  font-size: 2rem;
  margin-right: 50%;
  cursor: pointer;
}
