body {
  overflow: hidden;
}

.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary);
  overflow: hidden;
}

.chat-body {
  width: 70%;
  height: 100%;
}

@media (max-width: 800px) {
  .chat-body {
    width: 100%;
  }
}
