.compose-message-container {
  width: 100%;
  height: 8.25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #eee6ff;
}

.compose-message {
  height: 70%;
  width: 90%;
  border: 2px solid #6f678b;
  background: transparent;
  border-radius: 10px;
  padding-left: 10px;
  color: #eee6ff;
  transition: 0.1s ease-in-out;
}

.compose-message::placeholder {
  color: #eee6ff;
}

.compose-message:focus {
  border: 2px solid var(--accent);
  outline: 0;
}

#send-message-button {
  color: var(--accent);
  font-size: 1.5rem;
  cursor: pointer;
}
